# Add any directories, files, or patterns you don't want to be tracked by version control
Net/build
Net/packages
Net//Aircompany/vs
Net/Aircompany/obj
Net/Aircompany/bin
Net/AircompanyTests/obj
Net/AircompanyTests/bin
*.suo
Net/Aircompany.v12.suo
Net/AircompanyTests.v12.suo

**/logs
logs

.vs
**/.vs
vs
**/vs
obj
**/obj
**/bin
bin
packages
**/packeges
build
**/build
*.suo
**/.suo
.suo